.button{
    padding: 11px 16px;
    border: none;
    background-color: #1f64be;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.button:hover{
    background-color: #1d45c9;
}